--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4
-- Dumped by pg_dump version 16.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO postgres;

--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: stats_company; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stats_company (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    kpp character varying(9) NOT NULL,
    inn character varying(12) NOT NULL
);


ALTER TABLE public.stats_company OWNER TO postgres;

--
-- Name: stats_company_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stats_company ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stats_company_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stats_companyphonenumber; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stats_companyphonenumber (
    id bigint NOT NULL,
    company_id bigint NOT NULL,
    phone_number_id bigint NOT NULL
);


ALTER TABLE public.stats_companyphonenumber OWNER TO postgres;

--
-- Name: stats_companyphonenumber_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stats_companyphonenumber ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stats_companyphonenumber_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stats_department; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stats_department (
    id bigint NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.stats_department OWNER TO postgres;

--
-- Name: stats_department_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stats_department ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stats_department_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stats_employee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stats_employee (
    id bigint NOT NULL,
    last_name character varying(255) NOT NULL,
    first_name character varying(255) NOT NULL,
    middle_name character varying(255),
    status boolean NOT NULL,
    personnel_number character varying(50) NOT NULL,
    city character varying(255) NOT NULL,
    company_id bigint NOT NULL,
    department_id bigint NOT NULL,
    position_id bigint NOT NULL,
    user_id bigint
);


ALTER TABLE public.stats_employee OWNER TO postgres;

--
-- Name: stats_employee_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stats_employee ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stats_employee_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stats_employeehistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stats_employeehistory (
    id bigint NOT NULL,
    deletion_date date NOT NULL,
    comment text,
    employee_id bigint NOT NULL
);


ALTER TABLE public.stats_employeehistory OWNER TO postgres;

--
-- Name: stats_employeehistory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stats_employeehistory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stats_employeehistory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stats_employeephonenumber; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stats_employeephonenumber (
    id bigint NOT NULL,
    employee_id bigint NOT NULL,
    phone_number_id bigint NOT NULL
);


ALTER TABLE public.stats_employeephonenumber OWNER TO postgres;

--
-- Name: stats_employeephonenumber_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stats_employeephonenumber ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stats_employeephonenumber_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stats_expense; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stats_expense (
    id bigint NOT NULL,
    minute_usage integer NOT NULL,
    gb_usage integer NOT NULL,
    amount numeric(10,2) NOT NULL,
    usage_period date NOT NULL,
    status character varying(50) NOT NULL,
    phone_number_id bigint NOT NULL,
    CONSTRAINT stats_expense_gb_usage_check CHECK ((gb_usage >= 0)),
    CONSTRAINT stats_expense_minute_usage_check CHECK ((minute_usage >= 0))
);


ALTER TABLE public.stats_expense OWNER TO postgres;

--
-- Name: stats_expense_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stats_expense ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stats_expense_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stats_operator; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stats_operator (
    id bigint NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.stats_operator OWNER TO postgres;

--
-- Name: stats_operator_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stats_operator ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stats_operator_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stats_phonenumber; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stats_phonenumber (
    id bigint NOT NULL,
    number character varying(15) NOT NULL,
    status character varying(50) NOT NULL,
    account_number character varying(50) NOT NULL,
    tariff_id bigint NOT NULL
);


ALTER TABLE public.stats_phonenumber OWNER TO postgres;

--
-- Name: stats_phonenumber_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stats_phonenumber ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stats_phonenumber_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stats_phonenumberhistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stats_phonenumberhistory (
    id bigint NOT NULL,
    start_date date NOT NULL,
    end_date date,
    comment text,
    employee_id bigint NOT NULL,
    phone_number_id bigint NOT NULL
);


ALTER TABLE public.stats_phonenumberhistory OWNER TO postgres;

--
-- Name: stats_phonenumberhistory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stats_phonenumberhistory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stats_phonenumberhistory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stats_position; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stats_position (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    salary_limit numeric(10,2) NOT NULL
);


ALTER TABLE public.stats_position OWNER TO postgres;

--
-- Name: stats_position_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stats_position ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stats_position_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stats_role; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stats_role (
    id bigint NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.stats_role OWNER TO postgres;

--
-- Name: stats_role_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stats_role ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stats_role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stats_tariff; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stats_tariff (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    minute_limit integer NOT NULL,
    gb_limit integer NOT NULL,
    minute_overage_cost numeric(10,2) NOT NULL,
    gb_overage_cost numeric(10,2) NOT NULL,
    operator_id bigint,
    CONSTRAINT stats_tariff_gb_limit_check CHECK ((gb_limit >= 0)),
    CONSTRAINT stats_tariff_minute_limit_check CHECK ((minute_limit >= 0))
);


ALTER TABLE public.stats_tariff OWNER TO postgres;

--
-- Name: stats_tariff_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stats_tariff ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stats_tariff_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stats_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stats_user (
    id bigint NOT NULL,
    login_hash character varying(64) NOT NULL,
    password_hash character varying(64) NOT NULL,
    role_id bigint NOT NULL
);


ALTER TABLE public.stats_user OWNER TO postgres;

--
-- Name: stats_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stats_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stats_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.authtoken_token (key, created, user_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	stats	phonenumber
8	stats	expense
9	stats	tariff
10	stats	position
11	stats	department
12	stats	company
13	stats	employee
14	stats	phonenumberhistory
15	stats	employeephonenumber
16	stats	operator
17	stats	employeehistory
18	stats	companyphonenumber
19	stats	role
20	stats	user
21	authtoken	token
22	authtoken	tokenproxy
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stats_company; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stats_company (id, name, kpp, inn) FROM stdin;
1	╨æ╤â╨╗╨╛╤ç╨║╨░	123456789	123456789012
2	╨Ñ╨╗╨╡╨▒╨╛╨▓	987654321	9876543210
5	╨Ñ╨╗╨╡╨▒╤â╤ê╨║╨╕╨╜	936581552	4321523354
4	╨ó╨╛╤Ç╤é╨╛╨▓	654821552	1355652345
3	╨ƒ╨╕╤Ç╨╛╨│╨╛╨▓	532932534	5432134213
6	╨ƒ╤Ç╤Å╨╜╨╕╨║╨╛╨▓	512954535	6723178902
\.


--
-- Data for Name: stats_companyphonenumber; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stats_companyphonenumber (id, company_id, phone_number_id) FROM stdin;
6	2	6
5	2	3
4	2	7
3	2	1
2	1	5
1	1	17
10	4	20
20	2	8
21	4	21
22	3	24
23	1	26
26	3	22
29	6	23
\.


--
-- Data for Name: stats_department; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stats_department (id, name) FROM stdin;
2	╨æ╤â╤à╨│╨░╨╗╤é╨╡╤Ç╨╕╤Å
3	╨₧╤é╨┤╨╡╨╗ ╤Ç╨░╨╖╤Ç╨░╨▒╨╛╤é╨║╨╕
1	╨₧╤é╨┤╨╡╨╗ ╨┐╤Ç╨╛╨┤╨░╨╢
4	╨í╨╗╤â╨╢╨▒╨░ ╨┐╨╛╨┤╨┤╨╡╤Ç╨╢╨║╨╕
\.


--
-- Data for Name: stats_employee; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stats_employeehistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stats_employeehistory (id, deletion_date, comment, employee_id) FROM stdin;
7	2025-04-21	╨ú╨▓╨╛╨╗╨╡╨╜ ╨╜╨╛╨╝╨╡╤Ç ╨▓╨╡╤Ç╨╜╤â╨╗╤ü╤Å ╨▓ ╨┐╤â╨╗	19
6	2025-04-21	╨ú╨▓╨╛╨╗╨╡╨╜	20
8	2025-04-23	╨í╨╛╤é╤Ç╤â╨┤╨╜╨╕╨║ ╤â╨┤╨░╨╗╨╡╨╜	26
12	2025-04-24	╨í╨╛╤é╤Ç╤â╨┤╨╜╨╕╨║ ╤â╨┤╨░╨╗╨╡╨╜	45
13	2025-04-24	╨í╨╛╤é╤Ç╤â╨┤╨╜╨╕╨║ ╤â╨┤╨░╨╗╨╡╨╜	46
14	2025-04-24	╨í╨╛╤é╤Ç╤â╨┤╨╜╨╕╨║ ╤â╨┤╨░╨╗╨╡╨╜	47
\.


--
-- Data for Name: stats_employeephonenumber; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stats_employeephonenumber (id, employee_id, phone_number_id) FROM stdin;
1	1	1
2	2	3
10	3	5
12	2	6
22	1	7
24	4	17
30	48	22
31	48	24
\.


--
-- Data for Name: stats_expense; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stats_operator; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stats_operator (id, name) FROM stdin;
2	╨æ╨╕╨╗╨░╨╣╨╜
3	╨ó2
5	╨£╨╡╨│╨░╤ä╨╛╨╜
1	╨£╨ó╨í
6	╨Ö╨╛╤é╨░
7	╨ó╨╕╨╜╤î╨║╨╛╤ä╤ä
\.


--
-- Data for Name: stats_phonenumber; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stats_phonenumberhistory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stats_position; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stats_position (id, name, salary_limit) FROM stdin;
2	╨á╨░╨╖╤Ç╨░╨▒╨╛╤é╤ç╨╕╨║	1000.00
3	╨æ╤â╤à╨│╨░╨╗╤é╨╡╤Ç	700.00
4	╨ó╨╡╤à╨┐╨╛╨┤╨┤╨╡╤Ç╨╢╨║╨░	400.00
1	╨£╨╡╨╜╨╡╨┤╨╢╨╡╤Ç	500.00
\.


--
-- Data for Name: stats_role; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stats_role (id, name) FROM stdin;
1	╨É╨┤╨╝╨╕╨╜╨╕╤ü╤é╤Ç╨░╤é╨╛╤Ç
2	╨ƒ╨╛╨╗╤î╨╖╨╛╨▓╨░╤é╨╡╨╗╤î
\.


--
-- Data for Name: stats_tariff; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stats_tariff (id, name, minute_limit, gb_limit, minute_overage_cost, gb_overage_cost, operator_id) FROM stdin;
1	╨æ╨░╨╖╨╛╨▓╤ï╨╣ ╨£╨ó╨í	300	10	1.50	100.00	1
5	╨í╤â╨┐╨╡╤Ç ╨£╨ó╨í	200	40	0.40	40.00	1
3	╨Ü╨╛╤Ç╨┐╨╛╤Ç╨░╤é╨╕╨▓╨╜╤ï╨╣ ╨æ╨╕╨╗╨░╨╣╨╜	500	50	0.50	20.00	2
2	╨ƒ╤Ç╨╡╨╝╨╕╤â╨╝ ╨ó2	500	30	0.90	50.00	3
4	╨ú╨┐╤Ç╨░╨▓╨╗╤Å╨╣ ╨£╨╡╨│╨░╤ä╨╛╨╜	100	30	0.60	30.00	5
6	╨á╨░╨▒╨╛╤é╨░╨╣ ╨æ╨╕╨╗╨░╨╣╨╜	400	60	0.30	10.00	2
\.


--
-- Data for Name: stats_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 88, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, false);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 22, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 33, true);


--
-- Name: stats_company_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stats_company_id_seq', 9, true);


--
-- Name: stats_companyphonenumber_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stats_companyphonenumber_id_seq', 29, true);


--
-- Name: stats_department_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stats_department_id_seq', 6, true);


--
-- Name: stats_employee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stats_employee_id_seq', 48, true);


--
-- Name: stats_employeehistory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stats_employeehistory_id_seq', 14, true);


--
-- Name: stats_employeephonenumber_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stats_employeephonenumber_id_seq', 31, true);


--
-- Name: stats_expense_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stats_expense_id_seq', 11, true);


--
-- Name: stats_operator_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stats_operator_id_seq', 8, true);


--
-- Name: stats_phonenumber_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stats_phonenumber_id_seq', 26, true);


--
-- Name: stats_phonenumberhistory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stats_phonenumberhistory_id_seq', 32, true);


--
-- Name: stats_position_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stats_position_id_seq', 6, true);


--
-- Name: stats_role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stats_role_id_seq', 2, true);


--
-- Name: stats_tariff_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stats_tariff_id_seq', 3, true);


--
-- Name: stats_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stats_user_id_seq', 8, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: stats_company stats_company_inn_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_company
    ADD CONSTRAINT stats_company_inn_key UNIQUE (inn);


--
-- Name: stats_company stats_company_kpp_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_company
    ADD CONSTRAINT stats_company_kpp_key UNIQUE (kpp);


--
-- Name: stats_company stats_company_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_company
    ADD CONSTRAINT stats_company_pkey PRIMARY KEY (id);


--
-- Name: stats_companyphonenumber stats_companyphonenumber_phone_number_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_companyphonenumber
    ADD CONSTRAINT stats_companyphonenumber_phone_number_id_key UNIQUE (phone_number_id);


--
-- Name: stats_companyphonenumber stats_companyphonenumber_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_companyphonenumber
    ADD CONSTRAINT stats_companyphonenumber_pkey PRIMARY KEY (id);


--
-- Name: stats_department stats_department_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_department
    ADD CONSTRAINT stats_department_pkey PRIMARY KEY (id);


--
-- Name: stats_employee stats_employee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_employee
    ADD CONSTRAINT stats_employee_pkey PRIMARY KEY (id);


--
-- Name: stats_employee stats_employee_user_id_f8253f55_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_employee
    ADD CONSTRAINT stats_employee_user_id_f8253f55_uniq UNIQUE (user_id);


--
-- Name: stats_employeehistory stats_employeehistory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_employeehistory
    ADD CONSTRAINT stats_employeehistory_pkey PRIMARY KEY (id);


--
-- Name: stats_employeephonenumber stats_employeephonenumber_phone_number_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_employeephonenumber
    ADD CONSTRAINT stats_employeephonenumber_phone_number_id_key UNIQUE (phone_number_id);


--
-- Name: stats_employeephonenumber stats_employeephonenumber_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_employeephonenumber
    ADD CONSTRAINT stats_employeephonenumber_pkey PRIMARY KEY (id);


--
-- Name: stats_expense stats_expense_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_expense
    ADD CONSTRAINT stats_expense_pkey PRIMARY KEY (id);


--
-- Name: stats_operator stats_operator_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_operator
    ADD CONSTRAINT stats_operator_name_key UNIQUE (name);


--
-- Name: stats_operator stats_operator_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_operator
    ADD CONSTRAINT stats_operator_pkey PRIMARY KEY (id);


--
-- Name: stats_phonenumber stats_phonenumber_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_phonenumber
    ADD CONSTRAINT stats_phonenumber_number_key UNIQUE (number);


--
-- Name: stats_phonenumber stats_phonenumber_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_phonenumber
    ADD CONSTRAINT stats_phonenumber_pkey PRIMARY KEY (id);


--
-- Name: stats_phonenumberhistory stats_phonenumberhistory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_phonenumberhistory
    ADD CONSTRAINT stats_phonenumberhistory_pkey PRIMARY KEY (id);


--
-- Name: stats_position stats_position_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_position
    ADD CONSTRAINT stats_position_pkey PRIMARY KEY (id);


--
-- Name: stats_role stats_role_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_role
    ADD CONSTRAINT stats_role_name_key UNIQUE (name);


--
-- Name: stats_role stats_role_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_role
    ADD CONSTRAINT stats_role_pkey PRIMARY KEY (id);


--
-- Name: stats_tariff stats_tariff_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_tariff
    ADD CONSTRAINT stats_tariff_pkey PRIMARY KEY (id);


--
-- Name: stats_user stats_user_login_hash_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_user
    ADD CONSTRAINT stats_user_login_hash_key UNIQUE (login_hash);


--
-- Name: stats_user stats_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_user
    ADD CONSTRAINT stats_user_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: stats_company_inn_35d1fa9e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stats_company_inn_35d1fa9e_like ON public.stats_company USING btree (inn varchar_pattern_ops);


--
-- Name: stats_company_kpp_57c78e08_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stats_company_kpp_57c78e08_like ON public.stats_company USING btree (kpp varchar_pattern_ops);


--
-- Name: stats_companyphonenumber_company_id_2883a9a0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stats_companyphonenumber_company_id_2883a9a0 ON public.stats_companyphonenumber USING btree (company_id);


--
-- Name: stats_employee_company_id_3c48868a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stats_employee_company_id_3c48868a ON public.stats_employee USING btree (company_id);


--
-- Name: stats_employee_department_id_32279c86; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stats_employee_department_id_32279c86 ON public.stats_employee USING btree (department_id);


--
-- Name: stats_employee_position_id_8850d55f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stats_employee_position_id_8850d55f ON public.stats_employee USING btree (position_id);


--
-- Name: stats_employeehistory_employee_id_8c74cdc7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stats_employeehistory_employee_id_8c74cdc7 ON public.stats_employeehistory USING btree (employee_id);


--
-- Name: stats_employeephonenumber_employee_id_1f71aa45; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stats_employeephonenumber_employee_id_1f71aa45 ON public.stats_employeephonenumber USING btree (employee_id);


--
-- Name: stats_expense_phone_number_id_0b0f6798; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stats_expense_phone_number_id_0b0f6798 ON public.stats_expense USING btree (phone_number_id);


--
-- Name: stats_operator_name_6113ca10_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stats_operator_name_6113ca10_like ON public.stats_operator USING btree (name varchar_pattern_ops);


--
-- Name: stats_phonenumber_number_ff12834f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stats_phonenumber_number_ff12834f_like ON public.stats_phonenumber USING btree (number varchar_pattern_ops);


--
-- Name: stats_phonenumber_tariff_id_e1d8e4ca; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stats_phonenumber_tariff_id_e1d8e4ca ON public.stats_phonenumber USING btree (tariff_id);


--
-- Name: stats_phonenumberhistory_employee_id_adef39f7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stats_phonenumberhistory_employee_id_adef39f7 ON public.stats_phonenumberhistory USING btree (employee_id);


--
-- Name: stats_phonenumberhistory_phone_number_id_03fcce6d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stats_phonenumberhistory_phone_number_id_03fcce6d ON public.stats_phonenumberhistory USING btree (phone_number_id);


--
-- Name: stats_role_name_ae1858b0_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stats_role_name_ae1858b0_like ON public.stats_role USING btree (name varchar_pattern_ops);


--
-- Name: stats_tariff_operator_id_ee202781; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stats_tariff_operator_id_ee202781 ON public.stats_tariff USING btree (operator_id);


--
-- Name: stats_user_login_hash_cafa7a9c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stats_user_login_hash_cafa7a9c_like ON public.stats_user USING btree (login_hash varchar_pattern_ops);


--
-- Name: stats_user_role_id_1040c3b0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stats_user_role_id_1040c3b0 ON public.stats_user USING btree (role_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stats_companyphonenumber stats_companyphonenu_company_id_2883a9a0_fk_stats_com; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_companyphonenumber
    ADD CONSTRAINT stats_companyphonenu_company_id_2883a9a0_fk_stats_com FOREIGN KEY (company_id) REFERENCES public.stats_company(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stats_companyphonenumber stats_companyphonenu_phone_number_id_8a17cfde_fk_stats_pho; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_companyphonenumber
    ADD CONSTRAINT stats_companyphonenu_phone_number_id_8a17cfde_fk_stats_pho FOREIGN KEY (phone_number_id) REFERENCES public.stats_phonenumber(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stats_employee stats_employee_company_id_3c48868a_fk_stats_company_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_employee
    ADD CONSTRAINT stats_employee_company_id_3c48868a_fk_stats_company_id FOREIGN KEY (company_id) REFERENCES public.stats_company(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stats_employee stats_employee_department_id_32279c86_fk_stats_department_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_employee
    ADD CONSTRAINT stats_employee_department_id_32279c86_fk_stats_department_id FOREIGN KEY (department_id) REFERENCES public.stats_department(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stats_employee stats_employee_position_id_8850d55f_fk_stats_position_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_employee
    ADD CONSTRAINT stats_employee_position_id_8850d55f_fk_stats_position_id FOREIGN KEY (position_id) REFERENCES public.stats_position(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stats_employee stats_employee_user_id_f8253f55_fk_stats_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_employee
    ADD CONSTRAINT stats_employee_user_id_f8253f55_fk_stats_user_id FOREIGN KEY (user_id) REFERENCES public.stats_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stats_employeehistory stats_employeehistory_employee_id_8c74cdc7_fk_stats_employee_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_employeehistory
    ADD CONSTRAINT stats_employeehistory_employee_id_8c74cdc7_fk_stats_employee_id FOREIGN KEY (employee_id) REFERENCES public.stats_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stats_employeephonenumber stats_employeephonen_employee_id_1f71aa45_fk_stats_emp; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_employeephonenumber
    ADD CONSTRAINT stats_employeephonen_employee_id_1f71aa45_fk_stats_emp FOREIGN KEY (employee_id) REFERENCES public.stats_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stats_employeephonenumber stats_employeephonen_phone_number_id_53cf2f4a_fk_stats_pho; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_employeephonenumber
    ADD CONSTRAINT stats_employeephonen_phone_number_id_53cf2f4a_fk_stats_pho FOREIGN KEY (phone_number_id) REFERENCES public.stats_phonenumber(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stats_expense stats_expense_phone_number_id_0b0f6798_fk_stats_phonenumber_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_expense
    ADD CONSTRAINT stats_expense_phone_number_id_0b0f6798_fk_stats_phonenumber_id FOREIGN KEY (phone_number_id) REFERENCES public.stats_phonenumber(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stats_phonenumber stats_phonenumber_tariff_id_e1d8e4ca_fk_stats_tariff_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_phonenumber
    ADD CONSTRAINT stats_phonenumber_tariff_id_e1d8e4ca_fk_stats_tariff_id FOREIGN KEY (tariff_id) REFERENCES public.stats_tariff(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stats_phonenumberhistory stats_phonenumberhis_employee_id_adef39f7_fk_stats_emp; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_phonenumberhistory
    ADD CONSTRAINT stats_phonenumberhis_employee_id_adef39f7_fk_stats_emp FOREIGN KEY (employee_id) REFERENCES public.stats_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stats_phonenumberhistory stats_phonenumberhis_phone_number_id_03fcce6d_fk_stats_pho; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_phonenumberhistory
    ADD CONSTRAINT stats_phonenumberhis_phone_number_id_03fcce6d_fk_stats_pho FOREIGN KEY (phone_number_id) REFERENCES public.stats_phonenumber(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stats_tariff stats_tariff_operator_id_ee202781_fk_stats_operator_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_tariff
    ADD CONSTRAINT stats_tariff_operator_id_ee202781_fk_stats_operator_id FOREIGN KEY (operator_id) REFERENCES public.stats_operator(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stats_user stats_user_role_id_1040c3b0_fk_stats_role_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_user
    ADD CONSTRAINT stats_user_role_id_1040c3b0_fk_stats_role_id FOREIGN KEY (role_id) REFERENCES public.stats_role(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

